.main{
    max-width: 130rem;
    margin: auto;
    margin-top: 10rem;
    padding: 1rem;
    background-color: rgb(236, 238, 150);

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2rem;
    cursor: pointer;
    user-select: none;
}
.main :hover{
    background-color: rgb(179, 182, 27);
    transition: 0.3s;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: rgb(201, 198, 198);
    border-radius: 3px;
    padding: 1rem;
    border: 1px solid  rgb(147, 147, 199);
   
}

.caja_img{
    width: 100%;
    height: 25rem;
}
.caja_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.item h2{
    font-size: 2rem;
}
.item p{
    font-size: 1.4rem;
}
.item span{
    font-weight: 800;
    font-size: 1.6rem;
    align-self: flex-end;
}
.ocultar{
    display: none; /*ocultar*/
}
.boton-hazlo{
    border: 1px solid black;
    background-color: rgb(255, 247, 130);
   margin-left: 2rem;
   padding: 0.5rem;
   border-radius: 0.5rem;
}
.boton-cerrar{
   
    margin-left: 40rem;
}

@media screen and (max-width: 1000px) {

    #main{
        background-color: rgb(185, 252, 252);
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(auto,1fr);
    }
 
}
@media screen and (max-width: 800px) {

    #main{
        
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(auto,1fr);
    }
 
}
@media screen and (max-width: 480px) {

    #main{
    
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(auto,1fr);
    }
 
}